# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

# Virtual environment
chatbot-env/
venv/
.env

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Cache files
*.cache
*.pytest_cache/
